.g-mt-60{
  margin-top: 60px !important;
}

.g-height-850{
  height: 850px;
}

.consult_policy_area {
	background: url(/img/consult-bg2.jpg) no-repeat scroll center center;
	background-size: cover;
	position: relative;
	z-index: 2;
	text-align: center;
	padding: 100px 0px;
}
