.g-color-darkblue{
  color:#324c80 !important;
}
.g-bg-color-darkblue{
  background-color:#324c80 !important;
}
.g-color-white{
  color: white !important;
}
.pb-5{
  padding-bottom: 15px;
}
.pl-5{
  padding-left: 15px;
}
.pl-30{
  padding-left: 30px;
}
.pr-5{
  padding-right: 15px;
}
.aligncenter{
  text-align: center !important;
}
.mb-2{
  margin-bottom: 10px;
}
.pt-5{
  padding-top: 15px;
}
.pt-2{
  padding-top: 5px;
}
.mt-5{
  margin-top: 15px;
}
.k-bg-img{
  background-image: url(/img/header1.jpg);
}