/* Add here all your css styles (customizations) */
.header_menu .navbar.navbar-default .navbar-header .navbar-brand {
    padding: 1px 0px 4px 12px;
    line-height: 75px;
    display: inline-block;
    margin-top: -19px;
}
.header_social li a {
    line-height: 27px;
    font-size: 13px;
    color: #0b0d31;
    opacity: .6;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    /* background-color: white; */
}
.header_menu .navbar.navbar-default {
    border-radius: 0px;
    background: #0b0d31b8;
    border: none;
    text-align: right;
    margin-bottom: 0px;
}
.main_header_area .header_menu.affix {
    top: 20px;
    width: 100%;
    background: #0b0d31;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #0b0d31a6;
    -moz-box-shadow: 0 8px 6px -6px #0b0d31a6;
    box-shadow: 0 8px 6px -6px #0b0d31a6;
    }
.img  
 {
    -webkit-box-shadow: 0 8px 6px -6px #0b0d31a6;
    -moz-box-shadow: 0 8px 6px -6px #0b0d31a6;
    box-shadow: 0 8px 6px -6px #0b0d31a6;/* the rest of your styling */
}
div.business_box_item {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.practice_item{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
 div.latest_n_item{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
div.main_slider_area{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
div.tp-parallax-wrap
{
 position: absolute;
    display: block;
    visibility: hidden;
    left: 90px;
    top: 290px;
    z-index: 1;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
   top: 0px;
    max-height: 45px;
        z-index: 10;
}
.sticky.abanner_link_inner {
  position: -webkit-sticky;
  position: sticky;
      top: 71px;
    max-height: 45px;
        z-index: 10;
}

.button {
  background-color: #4CAF50; /* Green */
  border: 2px #3379bc;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #3379bc;
}

.button1:hover {
  background-color: #3379bc;
  color: white;
}


.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}
@import url(https:///code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800);
.snip1214 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #000000;
  text-align: center;
  font-size: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 40px 10px;
}
.snip1214 .plan {
  margin: 0;
  width: 20%;
  position: relative;
  float: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.snip1214 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1214 header {
  position: relative;
}
.snip1214 .plan-title {
  position: relative;
  top: 0;
  font-weight: 800;
  padding: 5px 15px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  display: inline-block;
  background-color: #222f3d;
  color: #ffffff;
  text-transform: uppercase;
}
.snip1214 .plan-cost {
  padding: 0px 10px 20px;
}
.snip1214 .plan-price {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 800;
  font-size: 2.4em;
  color: #34495e;
}
.snip1214 .plan-type {
  opacity: 0.6;
}
.snip1214 .plan-features {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: outside none none;
  font-size: 0.8em;
}
.snip1214 .plan-features li {
  border-top: 1px solid #d2d7e2;
  padding: 10px 5%;
}
.snip1214 .plan-features li:nth-child(even) {
  background: rgba(0, 0, 0, 0.08);
}
.snip1214 .plan-features i {
  margin-right: 8px;
  opacity: 0.4;
}
.snip1214 .plan-select {
  border-top: 1px solid #d2d7e2;
  padding: 10px 10px 0;
}
.snip1214 .plan-select a {
  background-color: #337abe;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em 1em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
}
.snip1214 .plan-select a:hover {
  background-color: #46627f;
}
.snip1214 .featured {
  margin-top: -10px;
  background-color: #295a8a;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.snip1214 .featured .plan-title,
.snip1214 .featured .plan-price {
  color: #ffffff;
}
.snip1214 .featured .plan-cost {
  padding: 10px 10px 20px;
}
.snip1214 .featured .plan-features li {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.snip1214 .featured .plan-select {
  padding: 20px 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
@media only screen and (max-width: 767px) {
  .snip1214 .plan {
    width: 50%;
  }
  .snip1214 .plan-title,
  .snip1214 .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .snip1214 .plan-cost,
  .snip1214 .featured .plan-cost {
    padding: 20px 10px 20px;
  }
  .snip1214 .plan-select,
  .snip1214 .featured .plan-select {
    padding: 10px 10px 10px;
  }
  .snip1214 .featured {
    margin-top: 0;
  }
}
@media only screen and (max-width: 440px) {
  .snip1214 .plan {
    width: 100%;
  }
}
        .header_menu .navbar.navbar-default .navbar-header .navbar-brand {
    padding: 1px 0px 4px 12px;
    line-height: 75px;
    display: inline-block;
    margin-top: -19px;
}
.header_social li a {
    line-height: 27px;
    font-size: 13px;
    color: #0b0d31;
    opacity: .6;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    /* background-color: white; */
}
.header_menu .navbar.navbar-default {
    border-radius: 0px;
    background: #0b0d31b8;
    border: none;
    text-align: right;
    margin-bottom: 0px;
}
.main_header_area .header_menu.affix {
    top: 20px;
    width: 100%;
    background: #0b0d31;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #0b0d31a6;
    -moz-box-shadow: 0 8px 6px -6px #0b0d31a6;
    box-shadow: 0 8px 6px -6px #0b0d31a6;
    }
.img  
 {
    -webkit-box-shadow: 0 8px 6px -6px #0b0d31a6;
    -moz-box-shadow: 0 8px 6px -6px #0b0d31a6;
    box-shadow: 0 8px 6px -6px #0b0d31a6;/* the rest of your styling */
}
div.business_box_item {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.practice_item{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
 div.latest_n_item{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
div.main_slider_area{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
div.tp-parallax-wrap
{
 position: absolute;
    display: block;
    visibility: hidden;
    left: 90px;
    top: 290px;
    z-index: 1;
}
.main_header_area {
    position: absolute;
    width: 100%;
    z-index: 25;
    background: rgba(24, 26, 56, 0.45);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    top: 26px;
}
        .header_menu .navbar.navbar-default .navbar-header .navbar-brand {
    padding: 1px 0px 4px 12px;
    line-height: 75px;
    display: inline-block;
    margin-top: -19px;
}
.header_social li a {
    line-height: 27px;
    font-size: 13px;
    color: #0b0d31;
    opacity: .6;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    /* background-color: white; */
}
.header_menu .navbar.navbar-default {
    border-radius: 0px;
    background: #0b0d31b8;
    border: none;
    text-align: right;
    margin-bottom: 0px;
}
.main_header_area .header_menu.affix {
    top: 20px;
    width: 100%;
    background: #0b0d31;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #0b0d31a6;
    -moz-box-shadow: 0 8px 6px -6px #0b0d31a6;
    box-shadow: 0 8px 6px -6px #0b0d31a6;
    }
.img  
 {
    -webkit-box-shadow: 0 8px 6px -6px #0b0d31a6;
    -moz-box-shadow: 0 8px 6px -6px #0b0d31a6;
    box-shadow: 0 8px 6px -6px #0b0d31a6;/* the rest of your styling */
}
div.business_box_item {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.practice_item{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
 div.latest_n_item{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
div.main_slider_area{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
div.tp-parallax-wrap
{
 position: absolute;
    display: block;
    visibility: hidden;
    left: 90px;
    top: 290px;
    z-index: 1;
}